#dashMain {
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    min-width: 40vw;
    max-width: 85vw;
    min-height: 100vh;
    overflow-y: auto;
}

#vizUL {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}