#gl {
    background-color: white;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 85vw;
    height: 100%;
    overflow: auto;
    font-family: 'Lato', sans-serif;
}

#listing {
    width: fit-content;
    height: 100%;
    width: 40%;
    color: #002F6C;
}

#gl h1 {
    margin: 5vh 4vw 2vh;
    font-weight: 900;
}

#details {
    width: fit-content;
    height: 100%;
    overflow: auto;
    border: 2px ridge #CFCDC9;
    background-color: #CFCDC9;
    width: 60%;
}


#gl #groupList {
    padding: 0;
    margin: 0 4vw;
    width: fit-content;
    height: fit-content;
    text-decoration: none;
}

.lgi {
    list-style: none;
    text-decoration:none;
    cursor: pointer;
    padding: 2vmin 0;
    margin: 0;

}

.item:any-link {
    text-decoration: none;
    color: inherit;
}

.lgi:hover {
    /* background-color: #d5e4f6; */
    font-weight: bold;
}

#gl .addRecord {
    width: clamp(100px, 8vw, 150px);
    height: clamp(35px, 3vw, 100px);
    border: 1px inset #6C6463;
    border-radius: 10px;
    color: #002F6C;
    background-color: #d5e4f6;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin: 2vh 4vw 4vh;
    box-shadow: 1px 1px 1px #dbdad6;
}

#gl .addRecord:hover {
    cursor:pointer;
    box-shadow: none;
    background-color: hsl(213, 65%, 88%);
}