#dm2 {
    width: 4vw;
    max-width: 6vh;
    height: 12vw;
    max-height: 16vh;
    background-color: inherit;
    position:sticky;
    top: 0;
    right:0;
    z-index: 10;
    justify-content: space-evenly;
    align-items: center;
}

#dm button {
    margin: 1vmin;
    width: 3vw;
    max-width: 4.5vh;
    height: 3vw;
    max-height: 4.5vh;
}