body {
    background-color: #e7e6e4;
}

#nl {
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

#navDiv {
    width: fit-content;
    height: 100vh;
}

#contentDiv {
    width: fit-content;
    height: 100vh;
    overflow: auto;
}